__pycache__
.env
*.ipynb
*.ipynb_checkpoints/
log.html
output.xml
report.html
selenium-screenshot*
.coverage
/htmlcov
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
noteout
*.pptx
